.update-enter {
  opacity: 0.00;
  transform: translateX(200em);
  transition: all .5s ease-in;
}

.update-enter.update-enter-active {
  opacity: 1;
  transform: translateX(0em);
}


.update-leave {
  transform: translateX(-200em);
  transition: all .5s ease-in;
}

.update-leave.update-leave-active {
  opacity: 0.00;
}