.update-enter {
  opacity: 0.00;
  transform: translateX(200em);
  transition: all .5s ease-in;
}

.update-enter.update-enter-active {
  opacity: 0.50;
  transform: translateX(0em);
}

.pulse {
	animation: pulse 3s;
}
.pulse2 {
	animation: pulse 3s;
}

@keyframes pulse {
  50% { background-color: #A7C4B5 };
  75% { background-color: #A9D8B8; };
  100% { background-color: #FFFFFF; };
}

.update-leave {
  transform: translateX(-200em);
  transition: all .5s ease-in;
}

.update-leave.update-leave-active {
  opacity: 0.00;
}